@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton {
  padding: 1rem;
  margin: 1rem 0;
  background: #eee;
}

.skeleton-title {
  height: 20px;
  width: 50%;
  background: #ddd;
  margin-bottom: 10px;
}

.skeleton-body {
  height: 10px;
  width: 100%;
  background: #ddd;
}

button {
  margin: 0 0.5rem;
}


